:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.login-form {
    height: 100%;
    display: flex;
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center;
}

a {
    color: white;
}

a:hover {
    color: gray;
}