:host {
    display: block;
    width: 345px;
}


input:focus {
    border-color: white;
    box-shadow: 2px 2px 2px 2px gray;
}

input::placeholder {
    font-weight: lighter;
}

form {
    button:hover {
        color: gray;
        border-color: gray;
    }

    button:disabled,
    button[disabled] {
        background: rgb(224, 213, 213);
        color: gray;
    }

    .submit-button {
        width: 100%;
        background: linear-gradient(to right, #9daaa7 0%, #516662 76%, #728380 100%);
        border-radius: 10px;
        border-color: white;
    }

    .dropdown-button {
        &:focus {
            border-color: white;
            box-shadow: 2px 2px 2px 2px gray;
        }
        width: 100%;
        background: white;
        border-color: #dee2e6;
        border-radius: 0.375rem;
        color: gray;
    }

    .invalid-dropdown-button {
        border-color: #ff0000; /* red */
        color: red;
    }

    .valid-dropdown-button {
        color: black;
    }

    .ng-dirty.ng-invalid:not(form) {
        border-color: #ff0000; /* red */
        &::placeholder {
            color: #ff0000;
        }
    }

    span {
        color: #ff0000;
        user-select: none;
    }
}

tr {
    button:disabled,
    button[disabled] {
        background: rgb(224, 213, 213);
        color: gray;
    }

    .ng-dirty.ng-invalid:not(form) {
        border-color: #ff0000; /* red */
        &::placeholder {
            color: #ff0000;
        }
    }

    .dropdown-button {
        &:focus {
            border-color: white;
            box-shadow: 2px 2px 2px 2px gray;
        }
        width: 100%;
        background: white;
        border-color: #dee2e6;
        border-radius: 0.375rem;
        color: black;
    }
}

.submit-button {
    background: linear-gradient(to right, #9daaa7 0%, #516662 76%, #728380 100%);
    border-radius: 10px;
    border-color: white;
}

.error-span {
    color: #ff0000;
    user-select: none;
}
