:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    color: white;
}

a:hover {
    color: gray;
}

.editor-container {
    flex: 1;
    height: 100%;
    display: flex;
}

.open-left-panel-btn {
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

.open-right-panel-btn {
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.left-panel {
    background-color: #efefef;
    flex-grow: 0;
    width: 22%;
}

.left-panel-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid black;
    border-block-width: 2px;
    :first-child {
        font-size: 1em;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    :last-child {
        margin-top: 0%;
        margin-bottom: 0%;
        margin-right: 10px;
    }
}

.left-panel-body {
    display: flex;
    flex-direction: column;
    div {
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: solid gray;
        border-block-width: 1px;
        padding-top: 4%;
        padding-bottom: 4%;
        box-shadow: -1px 1px 2px 0 rgba($color: #908d8d, $alpha: 1);
        border-right: none;

        .crossroad {
            flex: 0;
            width: 25px;
            height: 25px;
            margin-left: 10px;
            margin-right: 10px;
        }

        .roadrun {
            flex: 0;
            justify-content: center;
            align-items: center;
            width: 25px;
            height: 25px;
            margin-left: 10px;
            margin-right: 10px;
        }

        span {
            flex: 2;
            font-size: 0.85em;
        }
    }
}

.graph-editor {
    flex-grow: 2;
}

.right-panel {
    background-color: #efefef;
    flex-grow: 0;
    width: 22%;
}

.right-panel-header {
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: solid black;
    border-block-width: 2px;
    :first-child {
        margin-top: 4%;
        margin-bottom: 4%;
        margin-right: 10px;
        margin-left: 10px;
    }
    .text {
        font-size: 1em;
        margin-right: 10px;
        margin-top: 4%;
        margin-bottom: 4%;
    }
}

#container {
    width: 100%;
    height: 100%;
}