<app-header>
    <a class="btn bg-transparent button" (click)="loadMapList()">Загрузить карту</a>
    <a href="user-page/user-reference-page" class="btn bg-transparent button">Справочная информация</a>
</app-header>

<div class="editor-container">
    <div class="left-panel" [hidden]="!isLeftPanelOpen">
        <div class="left-panel-header" [class.border-left]="isVisualMenu">
            @if(isVisualMenu) {<h5 class="offcanvas-title">Маршрут</h5>}
            @else {<h5 class="offcanvas-title"></h5>}
            <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="methodLeftPanelOpen()"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-arrow-return-left"
                    viewBox="0 0 16 16"
                >
                    <path
                        fill-rule="evenodd"
                        d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"
                    ></path>
                </svg>
                <span class="visually-hidden">Скрыть панель</span>
            </button>
        </div>

        @if (isVisualMenu) {
            <ul ngbNav class="nav-tabs" orientation="vertical">
                <li ngbNavItem>
                    <button ngbNavLink autofocus (click)="isRouteStart=true; isRouteEnd=false; isDriver=false; isCriteria=false; 
                    this.isLeftClickCrossroad = false;
                    this.isLeftClickRoad = false;
                    rightPanelHeaderText = '';
                    this.gridDrowSize();
                    this.visualOptimalRoute(this.gridSize);">
                        <img src="/assets/route-32.png" alt="" />
                        <span>Выбор точки отправления</span>
                    </button>
                </li>
                <li ngbNavItem>
                    <button ngbNavLink autofocus (click)="isRouteStart=false; isRouteEnd=true; isDriver=false; isCriteria=false; 
                    this.isLeftClickCrossroad = false;
                    this.isLeftClickRoad = false;
                    rightPanelHeaderText = '';
                    this.gridDrowSize();
                    this.visualOptimalRoute(this.gridSize);">
                        <img src="/assets/route-32.png" alt="" />
                        <span>Выбор точки прибытия</span>
                    </button>
                </li>
                <li ngbNavItem>
                    <button ngbNavLink autofocus (click)="isRouteStart=false; isRouteEnd=false; isDriver=true; isCriteria=false; 
                    rightPanelHeaderText = 'Водитель';
                    this.isLeftClickCrossroad = false;
                    this.isLeftClickRoad = false;
                    this.gridDrowSize();
                    this.visualOptimalRoute(this.gridSize);">
                        <img src="/assets/auto.png" alt="" />
                        <span>Выбор водителя</span>
                    </button>
                </li>
                @if(isDriver) {
                    <div class="panel-el">
                        <div ngbDropdown [autoClose]="true" class="d-inline-block">
                            <button type="button" class="btn btn-outline-primary dropdown-button" ngbDropdownToggle>
                                {{ full_name || "Выберите водителя*"}} 
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                                @for(driver of drivers; track $index) {
                                    <button ngbDropdownItem (click)="setDropdownDriver($index)">
                                        {{ driver.family + ' ' + driver.name + ' ' + driver.surname }}
                                    </button>
                                } 
                            </div>
                        </div>
                    </div>
                }
                <li ngbNavItem>
                    <button ngbNavLink autofocus (click)="isRouteStart=false; isRouteEnd=false;  isDriver=false; isCriteria=true; 
                    rightPanelHeaderText = '';
                    this.isLeftClickCrossroad = false;
                    this.isLeftClickRoad = false;
                    this.gridDrowSize();
                    this.visualOptimalRoute(this.gridSize);">
                        <img src="/assets/criteria.png" alt="" />
                        <span>Выбор критерия</span>
                    </button>
                </li>
                @if(isCriteria) {
                    <div class="panel-el">
                        <input type="radio" name="criteria" id="distance" (click)="addCriteria()" [checked]="isDistance"> 
                        <span>Расстояние </span>
                    </div>
                    <div class="panel-el">
                        <input type="radio" name="criteria" id="time" (click)="addCriteria()" [checked]="isTime"> 
                        <span>Время </span>
                    </div>
                    <div class="panel-el">
                        <input type="radio"   name="criteria" id="cost" (click)="addCriteria()" [checked]="isCost"> 
                        <span>Стоимость </span>
                    </div>
                    <button class="buttonRoute submit-button" (click)="buildRoute()">Построить маршрут</button>
                }
            </ul>   
        }
        @if (isOptimalRoute) {
            <ul>
                <li ngbNavItem>
                    <button ngbNavLink autofocus (click)="isRouteMap= true; isModelTime= false;
                    rightPanelHeaderText = '';
                    this.gridDrowSize();
                    this.visualOptimalRoute(this.gridSize);">
                        <img src="/assets/route-32.png" alt="" />
                        <span>Просмотр маршрутов</span>
                    </button>
                </li>
                @if(isRouteMap) {
                    <div class="panel-el">
                        <div ngbDropdown [autoClose]="true" class="d-inline-block">
                            <button type="button" class="btn btn-outline-primary dropdown-button" ngbDropdownToggle>
                                {{ nameRoute || "Выберите маршрут*"}} 
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                                @for(route of uds.route?.all_routes; track $index) {
                                    <button ngbDropdownItem (click)="setRouteForBuild($index)">
                                        {{ route.name }}
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                }
                @if (timeShowOptimalRoute) {
                    <button class="buttonRoute submit-button" (click)="stopVusialOptimalRoute()">Завершить построение маршрута</button>
                } @else {
                    <li ngbNavItem>
                        <button ngbNavLink autofocus (click)="isModelTime= true; isRouteMap = false;
                        this.gridDrowSize();
                        this.visualOptimalRoute(this.gridSize);
                        rightPanelHeaderText = '';">
                            <img src="/assets/route-32.png" alt="" />
                            <span>Модельное время</span>
                        </button>
                    </li>
                    @if (isModelTime) {
                        <div class="panel-el">
                            <div ngbDropdown [autoClose]="true" class="d-inline-block">
                                <button type="button" class="btn btn-outline-primary dropdown-button" ngbDropdownToggle>
                                    {{ dropdownScaleModel }} 
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                                    @for(element of dropdownScaleModelList; track $index) {
                                        <button ngbDropdownItem (click)="setScaleModel($index)">
                                            {{ element }}
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                    }

                    <div (click)="isModelTime" class="table-route">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Элемент</th>
                                    <th scope="col">Полученное значение критерия</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (element of criteriaOneElement; track $index) {
                                    <tr>
                                        <th>{{ criteriaElement[$index] }}</th>
                                        <th>{{element}}</th>
                                        <th>
                                            <div ngbDropdown class="d-inline-block">
                                                <button
                                                    type="button"
                                                    class="btn btn-outline-primary dropdown-button valid-dropdown-button"
                                                    (click)="getElement($index)"
                                                >Показать</button>
                                            </div>
                                        </th>   
                                    </tr>
                                }
                                <tr>
                                    <th>
                                       Итого:
                                    </th>  
                                    <th>{{ resultParameter }}</th>
                                    <th></th> 
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
                <button class="buttonRoute submit-button" (click)="closeVusialOptimalRoute()">Вернуться к выбору критериев</button>
            </ul>
            
        }
    </div>
        
    <button
        type="button"
        class="btn btn-outline-secondary open-left-panel-btn"
        [hidden]="isLeftPanelOpen"
        (click)="methodLeftPanelOpen()"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-return-right"
            viewBox="0 0 16 16"
        >
            <path
                fill-rule="evenodd"
                d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5"
            ></path>
        </svg>
        <span class="visually-hidden">Открыть панель</span>
    </button>

    @if (isVisualMenu) {
        <div class="scale-button-left">
            <img src="assets/downsize.png" (click)="replaceSizeGrid(false)">
        </div>
    
        <div class="scale-button-right" >
            <img src="assets/upsize.png" (click)="replaceSizeGrid(true)">
        </div>
    }
    
    <div class="graph-editor">
        <div
            data-toggle="context"
            id="container"
            (click)="leftClickCanvas($event.layerX, $event.layerY)"
            (contextmenu)="openContextMenu($event)"
            (dblclick)="doubleClickCanvas($event.layerX, $event.layerY)"
        ></div>     
    </div>

    <div class="right-panel" [hidden]="!isRightPanelOpen">
        <div [class.border-right]="isDriver || isLeftClickCrossroad || isLeftClickRoad" class="right-panel-header">
            <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="methodRightPanelOpen()"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-arrow-return-right"
                    viewBox="0 0 16 16"
                >
                    <path
                        fill-rule="evenodd"
                        d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5"
                    ></path>
                </svg>
                <span class="visually-hidden">Button</span>
            </button>
            <h5 class="offcanvas-titles">{{rightPanelHeaderText}}</h5>
        </div>

        @if (dropDownDriver != undefined && isDriver) {
            <div class="right-panel-body">
                <div class="panel-el">
                    <span>Фамилия: </span>
                    <input type="text" class="form-control" value="{{dropDownDriver.family}}" disabled="false"> 
                </div>
                <div class="panel-el">
                    <span>Имя: </span>
                    <input type="text" class="form-control" value="{{dropDownDriver.name}}" disabled="false"> 
                </div>
                <div class="panel-el">
                    <span>Отчество: </span>
                    <input type="text" class="form-control" value="{{dropDownDriver.surname}}" disabled="false"> 
                </div>
                <div class="panel-el">
                    <span>Признак нарушителя: </span>
                    <input type="checkbox" [checked]="dropDownDriver.infringer" [disabled]="true"> 
                </div>
                <div class="panel-el">
                    <h4>Автомобиль</h4>
                </div>
                <div class="panel-el">
                    <span>Марка: </span>
                    <input type="text" class="form-control" value="{{dropDownDriver.vehicle.brand}}" disabled="false"> 
                </div>
                <div class="panel-el">
                    <span>Расход топлива: </span>
                    <input type="text" class="form-control" value="{{dropDownDriver.vehicle.consumption_fuel}}" disabled="false"> 
                </div>
                <div class="panel-el">
                    <span>Скорость: </span>
                    <input type="text" class="form-control" value="{{dropDownDriver.vehicle.max_speed}}" disabled="false"> 
                </div>
                <div class="panel-el">
                    <h4>Топливо</h4>
                </div>
                <div class="panel-el">
                    <span>Название: </span>
                    <input type="text" class="form-control" value="{{dropDownDriver.vehicle.type_fuel.name}}" disabled="false"> 
                </div>
                <div class="panel-el">
                    <span>Стоимость: </span>
                    <input type="text" class="form-control" value="{{dropDownDriver.vehicle.type_fuel.price}}" disabled="false"> 
                </div>
            </div>
        }

        @if (isLeftClickCrossroad) {
            <div class="right-panel-body">
                @if (crossroadList[indexSelectedElement].traffic_light != null) {
                    <div class="panel-el">
                        <h4>Светофор</h4>
                    </div>
                    <div class="panel-el">
                        <span>Длительность зелёной фазы: </span>
                        <input type="text" class="form-control" value="{{dropdownGreenDuration}}" disabled="false"> 
                    </div>
                    <div class="panel-el">
                        <span>Длительность красной фазы: </span>
                        <input type="text" class="form-control" value="{{dropdownRedDuration}}" disabled="false"> 
                    </div>
                }
                
            </div>
        }

        @if (isLeftClickRoad) {
            <div class="right-panel-body">
                <div class="panel-el">
                    <span>Название улицы: </span>
                    <input type="text" class="form-control" value="{{dropdownStreet}}" disabled="false"> 
                </div>
                <div class="panel-el">
                    <span>Направление движения: </span>
                    <input type="text" class="form-control" value="{{dropdownMoveDirection}}" disabled="false"> 
                </div>
                <div class="panel-el">
                    <span>Длина: </span>
                    <input type="text" class="form-control" value="{{dropdownLength}}" disabled="false"> 
                </div>
                <div class="panel-el">
                    <h4>Покрытие</h4>
                </div>
                <div class="panel-el">
                    <span>Название: </span>
                    <input type="text" class="form-control" value="{{dropdownCoverTypeName}}" disabled="false"> 
                </div>
                <div class="panel-el">
                    <span>Коэффициент торможения: </span>
                    <input type="text" class="form-control" value="{{dropdownCoverTypeCoef}}" disabled="false"> 
                </div>
                @if (roadList[indexSelectedElement].traffic_signs != null) {
                    <div class="panel-el">
                        <h4>Знак дорожного движения</h4>
                    </div>
                    <div class="panel-el">
                        <span>Скорость:</span>
                        <input type="text" class="form-control" value="{{dropdownTrafficSign}}" disabled="false"> 
                    </div>
                }
                @if (roadList[indexSelectedElement].police_post != null) {
                    <div class="panel-el">
                        <h4>Полицейский пост</h4>
                    </div>
                    <div class="panel-el">
                        <span>Название коэффициента коррумпированности:</span>
                        <input type="text" class="form-control" value="{{dropdownCorruptionName}}" disabled="false"> 
                    </div>
                    <div class="panel-el">
                        <span>Коэффициент коррумпированности: </span>
                        <input type="text" class="form-control" value="{{dropdownCorruptionCoef}}" disabled="false"> 
                    </div>
                }          
            </div>
        }

    </div>
    <button
        type="button"
        class="btn btn-outline-secondary open-right-panel-btn"
        [hidden]="isRightPanelOpen"
        (click)="methodRightPanelOpen()"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-return-left"
            viewBox="0 0 16 16"
        >
            <path
                fill-rule="evenodd"
                d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"
            ></path>
        </svg>
        <span class="visually-hidden">Открыть панель</span>
    </button>
</div>
