<app-header>
    <a class="btn bg-transparent button" (click)="addUDS()">Загрузить карту</a>
    <a class="btn bg-transparent button" (click)="showOptimalRoute()">Справочная информация</a>
</app-header>

<div class="editor-container">
    <div class="left-panel" [hidden]="!isLeftPanelOpen">
        <div class="left-panel-header">
            <h5 class="offcanvas-title">Маршрут</h5>
            <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="methodLeftPanelOpen()"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-arrow-return-left"
                    viewBox="0 0 16 16"
                >
                    <path
                        fill-rule="evenodd"
                        d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"
                    ></path>
                </svg>
                <span class="visually-hidden">Скрыть панель</span>
            </button>
        </div>
        <!--
        <div class="left-panel-body">
            <div (click)="addCrossroad()">
                <img class="crossroad" src="/assets/crossroad.png" alt="" />
                <span>Перекресток</span>
            </div>
            <div (click)="addRoad()">
                <img class="roadrun" src="/assets/roadrun.png" alt="" />
                <span>Прогон</span>
            </div>
            <p>Масштаб:</p>
            <button (click)="replaceSizeGrid(false)">-</button>
            <button (click)="replaceSizeGrid(true)">+</button>
        </div>-->
        @if (isVisualMenu) {
            <ul ngbNav class="nav-tabs" orientation="vertical">
                <li ngbNavItem>
                    <button ngbNavLink autofocus (click)="isRoute=true; isAuto=false; isCriteria=false;">
                        <img src="/assets/route-32.png" alt="" />
                        <span>Выбор точки отправления и прибытия</span>
                    </button>
                </li>
                <li ngbNavItem>
                    <button ngbNavLink autofocus (click)="isRoute=false; isAuto=true; isCriteria=false;">
                        <img src="/assets/auto.png" alt="" />
                        <span>Выбор автомобиля</span>
                    </button>
                </li>
                @if(isAuto) {
                    <div class="panel-el">
                        <div ngbDropdown [autoClose]="true" class="d-inline-block">
                            <button type="button" class="btn btn-outline-primary dropdown-button" ngbDropdownToggle>
                                {{ dropDownDriver || "Выберите водителя*"}} 
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                                <button ngbDropdownItem (click)="setDropdownDriver(0)">
                                    {{ testDriver }} 
                                </button>
                                @for(driver of httpService.drivers; track $index) {
                                    <button ngbDropdownItem (click)="setDropdownDriver($index)">
                                        {{ driver }} 
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                }
                <li ngbNavItem>
                    <button ngbNavLink autofocus (click)="isRoute=false; isAuto=false; isCriteria=true;">
                        <img src="/assets/criteria.png" alt="" />
                        <span>Выбор критерия</span>
                    </button>
                </li>
                @if(isCriteria) {
                    <div class="panel-el">
                        <input type="radio" checked="{{route.criteria_searche === 'Расстояние'}}" name="criteria" id="distance"> 
                        <span>Расстояние </span>
                    </div>
                    <div class="panel-el">
                        <input type="radio" checked="{{route.criteria_searche === 'Время'}}" name="criteria"> 
                        <span>Время </span>
                    </div>
                    <div class="panel-el">
                        <input type="radio" checked="{{route.criteria_searche === 'Стоимость'}}" name="criteria"> 
                        <span>Стоимость </span>
                    </div>
                    <button class="buttonRoute" (click)="buildRoute()">Построить маршрут</button>
                }
            </ul>
            
        }
    </div>
        
    
    <button
        type="button"
        class="btn btn-outline-secondary open-left-panel-btn"
        [hidden]="isLeftPanelOpen"
        (click)="methodLeftPanelOpen()"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-return-right"
            viewBox="0 0 16 16"
        >
            <path
                fill-rule="evenodd"
                d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5"
            ></path>
        </svg>
        <span class="visually-hidden">Открыть панель</span>
    </button>

    <div class="graph-editor">
        <div
            data-toggle="context"
            id="container"
            (click)="leftClickCanvas($event.layerX, $event.layerY)"
            (contextmenu)="openContextMenu($event)"
        ></div>     
    </div>

    <div class="right-panel" [hidden]="!isRightPanelOpen">
        <div class="right-panel-header">
            <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="methodRightPanelOpen()"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-arrow-return-right"
                    viewBox="0 0 16 16"
                >
                    <path
                        fill-rule="evenodd"
                        d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5"
                    ></path>
                </svg>
                <span class="visually-hidden">Button</span>
            </button>
            @if (isAuto) {<h5 class="offcanvas-title">Водитель</h5>}
        </div>

        @if (dropDownDriver != undefined && isAuto) {
            <div class="right-panel-body">
                <div class="panel-el">
                    <span>Фамилия: </span>
                    <input type="text" class="form-control" value="{{dropDownDriver.surname}}" disabled="false"> 
                </div>
                <div class="panel-el">
                    <span>Имя: </span>
                    <input type="text" class="form-control" value="{{dropDownDriver.name}}" disabled="false"> 
                </div>
                <div class="panel-el">
                    <span>Отчество: </span>
                    <input type="text" class="form-control" value="{{dropDownDriver.family}}" disabled="false"> 
                </div>
                <div class="panel-el">
                    <span>Признак нарушителя: </span>
                    <input type="radio" checked="{{dropDownDriver.infringer}}"> 
                </div>
                <div class="panel-el">
                    <h4>Автомобиль</h4>
                </div>
                <div class="panel-el">
                    <span>Марка: </span>
                    <input type="text" class="form-control" value="{{dropDownDriver.vehicle.brand}}" disabled="false"> 
                </div>
                <div class="panel-el">
                    <span>Расход топлива: </span>
                    <input type="text" class="form-control" value="{{dropDownDriver.vehicle.consumption_fuel}}" disabled="false"> 
                </div>
                <div class="panel-el">
                    <span>Скорость: </span>
                    <input type="text" class="form-control" value="{{dropDownDriver.vehicle.max_speed}}" disabled="false"> 
                </div>
                <div class="panel-el">
                    <h4>Топливо</h4>
                </div>
                <div class="panel-el">
                    <span>Название: </span>
                    <input type="text" class="form-control" value="{{dropDownDriver.vehicle.type_fuel.name}}" disabled="false"> 
                </div>
                <div class="panel-el">
                    <span>Стоимость: </span>
                    <input type="text" class="form-control" value="{{dropDownDriver.vehicle.type_fuel.price}}" disabled="false"> 
                </div>
            </div>
        }
    </div>
    <button
        type="button"
        class="btn btn-outline-secondary open-right-panel-btn"
        [hidden]="isRightPanelOpen"
        (click)="methodRightPanelOpen()"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-return-left"
            viewBox="0 0 16 16"
        >
            <path
                fill-rule="evenodd"
                d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"
            ></path>
        </svg>
        <span class="visually-hidden">Открыть панель</span>
    </button>
</div>
