<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Разработчики</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="modal-header">
            <p>Группа: 6401-090301D, Петренко Мария Вадимовна</p>
        </div>
        <div class="modal-header">
            <p>Группа: 6401-090301D, Уваров Глеб Алексеевич</p>
        </div>
        <div class="modal-header">
            <p>Группа: 6401-090301D, Халиев Жанат Тлекешевич</p>
        </div>
        <div class="modal-header">
            <p>Группа: 6401-090301D, Шатилов Никита Юрьевич</p>
        </div> 
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="c('Save click')">Закрыть</button>
    </div>
</ng-template>
<app-header>
    <a href="admin-page" class="btn bg-transparent button">Cоздать новую карту</a>
    <a href="./" class="btn bg-transparent button">Открыть карту</a>
    
    <a class="btn bg-transparent button" (click)="saveUDS()">Сохранить</a>
    <a href="./" class="btn bg-transparent button">О системе</a>
    <div class="btn btn-lg btn-outline-primary" (click)="open(content)"><a class="btn bg-transparent button"
        >О разработчиках</a></div>
    
</app-header>
<div class="editor-container">
    <div class="left-panel" [hidden]="!isLeftPanelOpen">
        <div class="left-panel-header">
            <h5 class="offcanvas-title">Добавление элементов УДС</h5>
            <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="methodLeftPanelOpen()"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-arrow-return-left"
                    viewBox="0 0 16 16"
                >
                    <path
                        fill-rule="evenodd"
                        d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"
                    ></path>
                </svg>
                <span class="visually-hidden">Скрыть панель</span>
            </button>
        </div>
        <div class="left-panel-body">
            <div (click)="addCrossroad()">
                <img class="crossroad" src="/assets/crossroad.png" alt="" />
                <span>Перекресток</span>
            </div>
            <div (click)="addRoad()">
                <img class="roadrun" src="/assets/roadrun.png" alt="" />
                <span>Прогон</span>
            </div>
            <p>Масштаб:</p>
            <button (click)="replaceSizeGrid(false)">-</button>
            <button (click)="replaceSizeGrid(true)">+</button>
        </div>
    </div>
    <button
        type="button"
        class="btn btn-outline-secondary open-left-panel-btn"
        [hidden]="isLeftPanelOpen"
        (click)="methodLeftPanelOpen()"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-return-right"
            viewBox="0 0 16 16"
        >
            <path
                fill-rule="evenodd"
                d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5"
            ></path>
        </svg>
        <span class="visually-hidden">Открыть панель</span>
    </button>

    <div class="graph-editor">
        <div
            (click)="eventClickConvas($event.layerX, $event.layerY)"
            (contextmenu)="openContextMenu($event)"
            (dblclick)="evenDoubleClickConvas($event.layerX, $event.layerY)"
            data-toggle="context"
            id="container"
        ></div>
        
    </div>

    <div class="right-panel" [hidden]="!isRightPanelOpen">
        <div class="right-panel-header">
            <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="methodRightPanelOpen()"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-arrow-return-right"
                    viewBox="0 0 16 16"
                >
                    <path
                        fill-rule="evenodd"
                        d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5"
                    ></path>
                </svg>
                <span class="visually-hidden">Button</span>
            </button>
            <h5 class="offcanvas-title">Параметры элементов УДС</h5>
        </div>
        

        <!--Перекресток-->
        @if (isLeftClickCrossroad) {
            <div class=".right-panel-body-2">
                <div>
                    <p class="name-element-uds">Перекресток</p>
                </div>
                @if (crossroadList[indexSelectedElement].TrafficLights != null) {
                    <div>
                        <div>
                            <p>Светофор</p>
                        </div>
                        <p>Длительность красной фазы</p>
                        <input type="number" class="timeRedSignal" [value]="crossroadList[indexSelectedElement].TrafficLights?.TimeRedSignal">
                        <p>Длительность зеленой фазы</p>
                        <input type="number" class="timeGreenSignal" [value]="crossroadList[indexSelectedElement].TrafficLights?.TimeGreenSignal">
                        <br>
                        <button (click)="modifyCrossroadParamener()">Сохранить</button>
                    </div>
                }
            </div>
        }
        @if (isAddTrafficLights) {
            <div class=".right-panel-body-2">
                <div>
                    <p>Добавить светофор</p>
                </div>
                <p>Длительность красной фазы</p>
                <input type="number" class="timeRedSignal">
                <p>Длительность зеленой фазы</p>
                <input type="number" class="timeGreenSignal">
                <br>
                <button (click)="addTrafficLights()">Добавить</button>
            </div>
        }

        <!--Прогон-->
        @if (isLeftClickRoad) {
            <div class=".right-panel-body-2">
                <div>
                    <p class="name-element-uds">Дорога</p>
                </div>
                <div>
                    <p>Направления движения</p>
                    <select id="direction">
                        @if (roadList[indexSelectedElement].Direction == 0) {
                            <option selected>0</option>
                        } @else {
                            <option>0</option>
                        }
                        @if (roadList[indexSelectedElement].Direction == 1) {
                            <option selected>1</option>
                        } @else {
                            <option>1</option>
                        }
                        @if (roadList[indexSelectedElement].Direction == 2) {
                            <option selected>2</option>
                        } @else {
                            <option>2</option>
                        }
                    </select>
                </div>
                <div>
                    <p>Улица</p>
                    <input type="text" class="streetName" [value]="roadList[indexSelectedElement].Street.Name">
                </div>
                <div>
                    <p>Длина</p>
                    <input type="number" class="lengthRoad" [value]="roadList[indexSelectedElement].Length">
                </div>
                <div>
                    <p>Тип покрытия</p>
                    <input type="string" class="typeCoverName" [value]="roadList[indexSelectedElement].TypeCover.Name">
                    <p>Коэффициент тормажения</p>
                    <input type="number" class="coeffCover" [value]="roadList[indexSelectedElement].TypeCover.CoefficientBraking">
                        
                </div>
                @if (roadList[indexSelectedElement].TrafficSigns != null) {
                    <div>
                        <div>
                            <p>Знак дорожного движения</p>
                        </div>
                        <p>Скорость</p>
                        <select id="speedInput">
                            @if (roadList[indexSelectedElement].TrafficSigns?.Speed == 30) {
                                <option selected>30</option>
                            } @else {
                                <option>30</option>
                            }
                            @if (roadList[indexSelectedElement].TrafficSigns?.Speed == 40) {
                                <option selected>40</option>
                            } @else {
                                <option>40</option>
                            }
                            @if (roadList[indexSelectedElement].TrafficSigns?.Speed == 50) {
                                <option selected>50</option>
                            } @else {
                                <option>50</option>
                            }
                        </select>
                    </div>
                }
                @if (roadList[indexSelectedElement].PolicePost != null) {
                    <div>
                        <div>
                            <p>Полицеский пост</p>
                        </div>
                        <p>Название</p>
                        <input type="text" class="nameCoeffCorumpInput" [value]="roadList[indexSelectedElement].PolicePost?.Corruption?.Name">
                        <p>Коэффициент коррумпированности</p>
                        <input type="number" class="coeffCorumpInput" [value]="roadList[indexSelectedElement].PolicePost?.Corruption?.CoefficientCorruption">
                    </div>
                }
                <br>
                <button (click)="modifyRoadParamener()">Сохранить</button>
            </div>
        }

        @if (isAddPolicePost) {
            <div class=".right-panel-body-2">
                <div>
                    <p>Добавить полицеский пост</p>
                </div>
                <p>Название</p>
                <input type="text" class="nameCoeffCorumpInput">
                <p>Коэффициент коррумпированности</p>
                <input type="number" class="coeffCorumpInput">
            
                <button (click)="addPolicePost()">Добавить</button>
            </div>
        }

        @if (isAddTrafficSigns) {
            <div class=".right-panel-body-2">
                <div>
                    <p>Добавить знак дорожного движения</p>
                </div>
                <p>Скорость</p>
                <select id="speedInput">
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                </select>
                <br>
            
                <button (click)="addTrafficSigns()">Добавить</button>
            </div>
        }
    </div>
    <button
        type="button"
        class="btn btn-outline-secondary open-right-panel-btn"
        [hidden]="isRightPanelOpen"
        (click)="methodRightPanelOpen()"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-return-left"
            viewBox="0 0 16 16"
        >
            <path
                fill-rule="evenodd"
                d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"
            ></path>
        </svg>
        <span class="visually-hidden">Открыть панель</span>
    </button>
</div>

@if (isContextMenuVisibleCrossroad) {
    <div
        [ngStyle]="{
            top: contextMenuPosition.y + 'px',
            left: contextMenuPosition.x + 'px'
        }"
        class="dropdown-menu show"
        (click)="closeContextMenu()"
    >
        @if (crossroadList[indexSelectedElement].TrafficLights == null) {
            <button class="dropdown-item" (click)="actionAddTrafficLights()">Добавить светофор</button>
        }
        @if (crossroadList[indexSelectedElement].TrafficLights != null) {
            <button class="dropdown-item" (click)="actionDeleteTrafficLights()">Удалить светофор</button>
        }
        <button class="dropdown-item" (click)="actionDeleteCrossroad()">Удалить перекресток</button>
    </div>
}

@if (isContextMenuVisibleRoad) {
    <div
        [ngStyle]="{
            top: contextMenuPosition.y + 'px',
            left: contextMenuPosition.x + 'px'
        }"
        class="dropdown-menu show"
        (click)="closeContextMenu()"
    >
        @if (roadList[indexSelectedElement].TrafficSigns == null) {
            <button class="dropdown-item" (click)="actionAddTrafficSigns()">Добавить знак дорожного движения</button>
        }
        @if (roadList[indexSelectedElement].TrafficSigns != null) {
            <button class="dropdown-item" (click)="actionDeleteTrafficSigns()">Удалить знак дорожного движения</button>
        }
        @if (roadList[indexSelectedElement].PolicePost == null) {
            <button class="dropdown-item" (click)="actionAddPolicePost()">Добавить полицейский пост</button>
        }
        @if (roadList[indexSelectedElement].PolicePost != null) {
            <button class="dropdown-item" (click)="actionDeletePolicePost()">Удалить полицейский пост</button>
        }
        <button class="dropdown-item" (click)="actionDeleteRoad()">Удалить прогон</button>
    </div>
}
