:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    color: white;
}

a:hover {
    color: gray;
}

.top {
    padding-top: 5px;
    padding-bottom: 5px;
}

input:focus {
    border-color: white;
    box-shadow: 2px 2px 2px 2px gray;
}

input::placeholder {
    font-weight: lighter;
}

.error-span {
    color: #ff0000;
    user-select: none;
}

.editor-container {
    flex: 1;
    height: 100%;
    display: flex;
}

.open-left-panel-btn {
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

.open-right-panel-btn {
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.left-panel {
    background-color: #efefef;
    flex-grow: 0;
    width: 22%;
}

.left-panel-header {
    display: flex;
    align-items: center;
    justify-content: end;
    border-bottom: solid black;
    border-block-width: 2px;
    :first-child {
        font-size: 1em;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    :last-child {
        border: #fff;
        margin-top: 0%;
        margin-bottom: 0%;
        margin-right: 5px;
    }
}

.left-panel-body {
    display: flex;
    flex-direction: column;
    user-select: none;
    cursor: pointer;
    div {
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: solid gray;
        border-block-width: 1px;
        padding-top: 4%;
        padding-bottom: 4%;
        box-shadow: -1px 1px 2px 0 rgba($color: #908d8d, $alpha: 1);
        border-right: none;

        .crossroad {
            flex: 0;
            width: 25px;
            height: 25px;
            margin-left: 10px;
            margin-right: 10px;
        }

        .roadrun {
            flex: 0;
            justify-content: center;
            align-items: center;
            width: 25px;
            height: 25px;
            margin-left: 10px;
            margin-right: 10px;
        }

        span {
            flex: 2;
            font-size: 0.85em;
        }
    }
}

.graph-editor {
    flex-grow: 2;
}

.focus-element-uds {
    background: rgb(192, 186, 186);
}

.scale-button-left {
    position: absolute;
    right: 30%;
    left: 68%;
    top: 90%;
    bottom: 5%;
    z-index: 9999;
    .index {
        z-index: 9999;
    }
}

.scale-button-right {
    position: absolute;
    right: 25%;
    left: 73%;
    top: 90%;
    bottom: 5%;
    z-index: 9999;
    .index {
        z-index: 9999;
    }
}

.right-panel {
    background-color: #efefef;
    flex-grow: 0;
    width: 22%;
}

.right-panel-header {
    display: flex;
    align-items: center;
    border-bottom: solid black;
    border-block-width: 2px;
    :first-child {
        border: #fff;
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    :last-child {
        font-size: 1em;
        margin-left: 10px;
    }
}

.right-panel-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .submit-button {
        width: 80%;
        background: linear-gradient(to right, #9daaa7 0%, #516662 76%, #728380 100%);
        border-radius: 10px;
        border: none;
        color: white;
        margin-top: 10px;
    }

    button:hover {
        color: gray;
        border-color: gray;
    }

    button:disabled,
    button[disabled] {
        background: rgb(224, 213, 213);
        color: gray;
    }

    .dropdown-button {
        &:focus {
            border-color: white;
            box-shadow: 2px 2px 2px 2px gray;
        }
        width: 100%;
        background: white;
        border-color: #dee2e6;
        border-radius: 0.375rem;
        color: gray;
    }
    .valid-dropdown-button {
        color: black;
    }
    .panel-el {
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: solid gray;
        border-block-width: 1px;
        padding-top: 4%;
        padding-bottom: 4%;
        box-shadow: 1px 1px 2px 0 rgba($color: #908d8d, $alpha: 1);
        border-right: none;
        span {
            padding-left: 15px;
            flex: 2;
            margin-left: 0%;
            margin-right: auto;
        }
        div {
            flex: 3;
            margin-left: auto;
            margin-right: 10px;
            button {
                width: 100%;
                font-size: 0.95rem;
            }
        }
    }
}

#container {
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    position: relative;
    user-select: none; /* Отключение выделения текста */
}

.panel-el .input-with-err-container {
    display: flex;
    flex-direction: column;
    div {
        display: flex;
        align-items: center;
        width: 100%;
        span {
            flex: 2.3;
            white-space: nowrap;
            width: 100%;
            margin-top: 4px;
            margin-right: auto;
        }
    }

    input {
        flex: 3;
        margin-left: auto;
    }

    .error-input {
        border-color: #ff0000; /* red */
        &::placeholder {
            color: #ff0000;
        }
    }
}

div[aria-labelledby='dropdownBasic'] {
    max-height: 100px;
    overflow-y: auto;
}
