<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Информация о разработчиках</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>Лабораторный практикум по дисциплине: "Технологии программирования"</p>
        <p>Тема: "Автоматизированная система расчета оптимального маршрута движения автотранспорта по заданному критерию"</p>
    </div>
    <div class="modal-header top">
        <h5 class="modal-title" id="modal-basic-title">Разработчики:</h5>
    </div>
    <div class="modal-body">
        <div class="modal-header top">
            <p>Петренко Мария Вадимовна, группа: 6401-090301D</p>
        </div>
        <div class="modal-header top">
            <p>Уваров Глеб Алексеевич, группа: 6401-090301D</p>
        </div>
        <div class="modal-header top">
            <p>Халиев Жанат Тлекешевич, группа: 6401-090301D</p>
        </div>
        <div class="modal-header top">
            <p>Шатилов Никита Юрьевич, группа: 6401-090301D</p>
        </div>
    </div>
    <div class="modal-header top">
        <h5 class="modal-title" id="modal-basic-title">Руководитель:</h5>
    </div>
    <div class="modal-body">
        <div class="modal-header top">
            <p>Зеленко Лариса Сергеевна</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="c('Save click')">Закрыть</button>
    </div>
</ng-template>
<app-header>
    <a href="admin-page" class="btn bg-transparent button">Cоздать новую карту</a>
    <a class="btn bg-transparent button" (click)="openUDS()">Открыть карту</a>
    <a href="admin-page/db" class="btn bg-transparent button">БД</a>
    <a class="btn bg-transparent button" (click)="saveUDS()">Сохранить</a>
    <a href="system-page" class="btn bg-transparent button">О системе</a>
    <a class="btn bg-transparent button" (click)="open(content)">О разработчиках</a>    
</app-header>
<div class="editor-container">
    <div class="left-panel" [hidden]="!isLeftPanelOpen">
        <div class="left-panel-header">
            <h5 class="offcanvas-title">Добавление элементов УДС</h5>
            <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="methodLeftPanelOpen()"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-arrow-return-left"
                    viewBox="0 0 16 16"
                >
                    <path
                        fill-rule="evenodd"
                        d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"
                    ></path>
                </svg>
                <span class="visually-hidden">Скрыть панель</span>
            </button>
        </div>
        <div class="left-panel-body">
            <div (click)="addCrossroad()" [class.focus-element-uds]="isCrossroadAdd">
                <img class="crossroad" src="/assets/crossroad.png" alt="" />
                <span>Перекресток</span>
            </div>
            <div (click)="addRoad()" [class.focus-element-uds]="isRoadAdd">
                <img class="roadrun" src="/assets/roadrun.png" alt="" />
                <span>Прогон</span>
            </div>
        </div>
    </div>
    <button
        type="button"
        class="btn btn-outline-secondary open-left-panel-btn"
        [hidden]="isLeftPanelOpen"
        (click)="methodLeftPanelOpen()"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-return-right"
            viewBox="0 0 16 16"
        >
            <path
                fill-rule="evenodd"
                d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5"
            ></path>
        </svg>
        <span class="visually-hidden">Открыть панель</span>
    </button>

    <div class="scale-button-left">
        <div [class.index]="!isLeftClickCrossroad && !isLeftClickRoad">
            <img src="assets/downsize.png" (click)="replaceSizeGrid(false)">
        </div>
    </div>

    <div class="scale-button-right" >
        <div [class.index]="!isLeftClickCrossroad && !isLeftClickRoad">
            <img src="assets/upsize.png" (click)="replaceSizeGrid(true)">
        </div> 
    </div>
    
    <div class="graph-editor">
        <div
            (click)="eventClickConvas($event.layerX, $event.layerY)"
            (contextmenu)="openContextMenu($event)"
            (dblclick)="evenDoubleClickConvas($event.layerX, $event.layerY)"
            data-toggle="context"
            id="container"
        ></div>
    </div>

    <div class="right-panel" [hidden]="!isRightPanelOpen">
        <div class="right-panel-header">
            <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="methodRightPanelOpen()"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-arrow-return-right"
                    viewBox="0 0 16 16"
                >
                    <path
                        fill-rule="evenodd"
                        d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5"
                    ></path>
                </svg>
                <span class="visually-hidden">Button</span>
            </button>
            <h5 class="offcanvas-title">{{ rightPanelHeaderText }}</h5>
        </div>
        

        <!--Перекресток-->
        @if (isLeftClickCrossroad && crossroadList[indexSelectedElement].traffic_light != null) {
            <div class="right-panel-body">
                <div class="panel-el">
                    <span>Длительность зелёной фазы</span>
                    <div ngbDropdown [autoClose]="true" class="d-inline-block">
                        <button type="button" class="btn btn-outline-primary dropdown-button" ngbDropdownToggle>
                            {{ dropdownGreenDuration }}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                            @for(trafficLight of trafficLights; track $index) {
                                <button ngbDropdownItem (click)="setDropdownTrafficLight($index)">
                                    {{ trafficLight.time_green_signal }} 
                                </button>
                            }
                        </div>
                    </div>
                </div>
                <div class="panel-el">
                    <span>Длительность красной фазы</span>
                    <div ngbDropdown [autoClose]="true" class="d-inline-block">
                        <button type="button" class="btn btn-outline-primary dropdown-button" ngbDropdownToggle>
                         {{ dropdownRedDuration }} 
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                            @for(trafficLight of trafficLights; track $index) {
                                <button ngbDropdownItem (click)="setDropdownTrafficLight($index)">
                                    {{ trafficLight.time_red_signal }} 
                                </button>
                            }
                        </div>
                    </div>
                </div>
                <button class="submit-button" (click)="cancelAdding()">Отмена</button>
                <button class="submit-button" (click)="modifyCrossroadParamener()" [disabled]="!dropdownRedDuration || !dropdownGreenDuration">Сохранить</button>
            </div>
        }
        @if (isAddTrafficLights) {
            <div class="right-panel-body">
                <div class="panel-el">
                    <div ngbDropdown [autoClose]="true" class="d-inline-block">
                        <button type="button" class="btn btn-outline-primary dropdown-button" ngbDropdownToggle>
                            {{ dropdownGreenDuration || "Выберите длительность зелёной фазы*"}}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                            @for(trafficLight of trafficLights; track $index) {
                                <button ngbDropdownItem (click)="setDropdownTrafficLight($index)">
                                    {{ trafficLight.time_green_signal }} 
                                </button>
                            }
                        </div>
                    </div>
                </div>
                <div class="panel-el">
                    <div ngbDropdown [autoClose]="true" class="d-inline-block">
                        <button type="button" class="btn btn-outline-primary dropdown-button" ngbDropdownToggle>
                         {{ dropdownRedDuration || "Выберите длительность красной фазы*"}} 
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                            @for(trafficLight of trafficLights; track $index) {
                                <button ngbDropdownItem (click)="setDropdownTrafficLight($index)">
                                    {{ trafficLight.time_red_signal }} 
                                </button>
                            }
                        </div>
                    </div>
                </div>
                <button class="submit-button" (click)="cancelAdding()">Отмена</button>
                <button class="submit-button" (click)="addTrafficLights()" [disabled]="!dropdownRedDuration || !dropdownGreenDuration">Добавить</button>
            </div>
        }

        <!--Прогон-->
        @if (isLeftClickRoad) {
            <div class="right-panel-body">
                <div class="panel-el">
                    <span>Направление движения</span>
                    <div ngbDropdown [autoClose]="true" class="d-inline-block">
                        <button type="button" class="btn btn-outline-primary dropdown-button" ngbDropdownToggle>
                           {{ dropdownMoveDirection }}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                            <button ngbDropdownItem (click)="setDropdownMoveDirectionValue('0')">
                                В обе стороны 
                            </button>
                            <button ngbDropdownItem (click)="setDropdownMoveDirectionValue('1')">
                                От 1-го ко 2-му 
                            </button>
                            <button ngbDropdownItem (click)="setDropdownMoveDirectionValue('2')">
                                От 2-го к 1-му 
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-el">
                    <span>Улица</span>
                    <div ngbDropdown [autoClose]="true" class="d-inline-block">
                        <button type="button" class="btn btn-outline-primary dropdown-button" ngbDropdownToggle>
                            {{ dropdownStreet || 'Название улицы*' }} 
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                            @for(street of streets; track $index) {
                                <button ngbDropdownItem (click)="setDropdownStreet($index)">
                                    {{ street.name }} 
                                </button>
                            }
                        </div>
                    </div>
                </div>
                <div class="panel-el">
                    <div class="input-with-err-container">
                        <div>
                            <span>Длина улицы</span>
                            <input type="number" [class.error-input]="roadLength.dirty && roadLength.touched && roadLength.invalid" class="form-control" [formControl]="roadLength" placeholder="Длина улицы*"/>
                        </div>
                        @if (roadLength.value !== null) {
                            @if(roadLength.value > 10 || roadLength.value < 1) {
                                <span class="error-span">Длина дороги должна быть от 1 до 10</span>
                            }
                        }
                    </div>
                </div>
                <div class="panel-el">
                    <span>Дорожное покрытие</span>
                    <div ngbDropdown [autoClose]="true" class="d-inline-block">
                        <button type="button" class="btn btn-outline-primary dropdown-button" ngbDropdownToggle>
                            {{ dropdownCoverType || 'Название покрытия*' }} 
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                            @for(coverType of coverTypes; track $index) {
                                <button ngbDropdownItem (click)="setDropdownCoverType($index)">
                                    {{ coverType.name }} 
                                </button>
                            }
                        </div>
                    </div>
                </div>
                @if (indexSelectedElement !== -1 && roadList[indexSelectedElement].traffic_signs != null) {
                    <div class="panel-el">
                        <span>Знак дорожного движения</span>
                        <div ngbDropdown [autoClose]="true" class="d-inline-block">
                            <button type="button" class="btn btn-outline-primary dropdown-button" ngbDropdownToggle>
                                {{ dropdownTrafficSign }} 
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                                <button ngbDropdownItem (click)="setDropdownTrafficSignValue('30')">
                                    30 
                                </button>
                                <button ngbDropdownItem (click)="setDropdownTrafficSignValue('40')">
                                    40 
                                </button>
                                <button ngbDropdownItem (click)="setDropdownTrafficSignValue('50')">
                                    50 
                                </button>
                            </div>
                        </div>
                    </div>
                }
                @if (indexSelectedElement !== -1 && roadList[indexSelectedElement].police_post != null) {
                    <div class="panel-el">
                        <span>Полицейский пост</span>
                        <div ngbDropdown [autoClose]="true" class="d-inline-block">
                            <button type="button" class="btn btn-outline-primary dropdown-button" ngbDropdownToggle>
                                {{ dropdownCorruptionCoef }} 
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                                @for(corruptionCoef of corruptionDegrees; track $index) {
                                    <button ngbDropdownItem (click)="setDropdownCorruptionCoef($index)">
                                        {{ corruptionCoef.name }} 
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                }
                <button class="submit-button" (click)="cancelAdding()">Отмена</button>
                <button class="submit-button" (click)="modifyRoadParamener()" [disabled]="!dropdownStreet || !roadLength.value || roadLength.value < 1 || roadLength.value > 10 || !dropdownCoverType">Сохранить</button>
            </div>
    }

        @if (isAddPolicePost) {
            <div class="right-panel-body">
                <div class="panel-el">
                    <div ngbDropdown [autoClose]="true" class="d-inline-block">
                        <button type="button" class="btn btn-outline-primary dropdown-button" ngbDropdownToggle>
                            {{ dropdownCorruptionCoef || 'Название степени коррумпированности*' }} 
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                            @for(corruptionCoef of corruptionDegrees; track $index) {
                                <button ngbDropdownItem (click)="setDropdownCorruptionCoef($index)">
                                    {{ corruptionCoef.name }} 
                                </button>
                            }
                        </div>
                    </div>
                </div>
                <button class="submit-button" (click)="cancelAdding()">Отмена</button>
                <button class="submit-button" (click)="addPolicePost()" [disabled]="!dropdownCorruptionCoef">Добавить</button>
            </div>
        }

        @if (isAddTrafficSigns) {
            <div class="right-panel-body">
                <div class="panel-el">
                    <div ngbDropdown [autoClose]="true" class="d-inline-block">
                        <button type="button" class="btn btn-outline-primary dropdown-button" ngbDropdownToggle>
                            {{ dropdownTrafficSign || 'Скорость*' }} 
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                            <button ngbDropdownItem (click)="setDropdownTrafficSignValue('30')">
                                30 
                            </button>
                            <button ngbDropdownItem (click)="setDropdownTrafficSignValue('40')">
                                40 
                            </button>
                            <button ngbDropdownItem (click)="setDropdownTrafficSignValue('50')">
                                50 
                            </button>
                        </div>
                    </div>
                </div>
                <button class="submit-button" (click)="cancelAdding()">Отмена</button>
                <button class="submit-button" (click)="addTrafficSigns()" [disabled]="!dropdownTrafficSign">Добавить</button>
            </div>
        }
    </div>
    <button
        type="button"
        class="btn btn-outline-secondary open-right-panel-btn"
        [hidden]="isRightPanelOpen"
        (click)="methodRightPanelOpen()"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-return-left"
            viewBox="0 0 16 16"
        >
            <path
                fill-rule="evenodd"
                d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"
            ></path>
        </svg>
        <span class="visually-hidden">Открыть панель</span>
    </button>
</div>

@if (isContextMenuVisibleCrossroad) {
    <div
        [ngStyle]="{
            top: contextMenuPosition.y + 'px',
            left: contextMenuPosition.x + 'px'
        }"
        class="dropdown-menu show"
        (click)="closeContextMenu()"
    >
        @if (crossroadList[indexSelectedElement].traffic_light == null) {
            <button class="dropdown-item" (click)="actionAddTrafficLights()">Добавить светофор</button>
        }
        <button class="dropdown-item" (click)="actionMoveCrossroad()">Переместить перекресток</button>
        @if (crossroadList[indexSelectedElement].traffic_light != null) {
            <button class="dropdown-item" (click)="actionDeleteTrafficLights()">Удалить светофор</button>
        }
        <button class="dropdown-item" (click)="actionDeleteCrossroad()">Удалить перекресток</button>
    </div>
}

@if (isContextMenuVisibleRoad) {
    <div
        [ngStyle]="{
            top: contextMenuPosition.y + 'px',
            left: contextMenuPosition.x + 'px'
        }"
        class="dropdown-menu show"
        (click)="closeContextMenu()"
    >
        @if (roadList[indexSelectedElement].traffic_signs == null) {
            <button class="dropdown-item" (click)="actionAddTrafficSigns()">Добавить знак дорожного движения</button>
        }
        @if (roadList[indexSelectedElement].traffic_signs != null) {
            <button class="dropdown-item" (click)="actionDeleteTrafficSigns()">Удалить знак дорожного движения</button>
        }
        @if (roadList[indexSelectedElement].police_post == null) {
            <button class="dropdown-item" (click)="actionAddPolicePost()">Добавить полицейский пост</button>
        }
        @if (roadList[indexSelectedElement].police_post != null) {
            <button class="dropdown-item" (click)="actionDeletePolicePost()">Удалить полицейский пост</button>
        }
        <button class="dropdown-item" (click)="actionDeleteRoad()">Удалить прогон</button>
    </div>
}
