<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Информация о разработчиках</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <p>Лабораторный практикум по дисциплине: "Технологии программирования"</p>
    <p>Тема: "Автоматизированная система расчета оптимального маршрута движения автотранспорта по заданному критерию"
    </p>
</div>
<div class="modal-header top">
    <h5 class="modal-title" id="modal-basic-title">Разработчики:</h5>
</div>
<div class="modal-body">
    <div class="modal-header top">
        <p>Петренко Мария Вадимовна, группа: 6401-090301D</p>
    </div>
    <div class="modal-header top">
        <p>Уваров Глеб Алексеевич, группа: 6401-090301D</p>
    </div>
    <div class="modal-header top">
        <p>Халиев Жанат Тлекешевич, группа: 6401-090301D</p>
    </div>
    <div class="modal-header top">
        <p>Шатилов Никита Юрьевич, группа: 6401-090301D</p>
    </div>
</div>
<div class="modal-header top">
    <h5 class="modal-title" id="modal-basic-title">Руководитель:</h5>
</div>
<div class="modal-body">
    <div class="modal-header top">
        <p>Зеленко Лариса Сергеевна</p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close('Close click')">Закрыть</button>
</div>