<app-header>
    <a href="/admin-page" class="btn bg-transparent button">Вернуть к построению карты</a>
    <a href="/system-page" class="btn bg-transparent button">О системе</a>
    <a class="btn bg-transparent button" (click)="openDevelopersModal()">О разработчиках</a>
</app-header>
<div class="editor-container">
    <ul ngbNav #leftnav="ngbNav" class="nav-tabs left-panel" orientation="vertical">
        <li ngbNavItem>
            <button ngbNavLink autofocus (click)="isFineTypeEdit=false">
                <img src="/assets/driver.png" alt="" />
                <span>Водитель</span>
            </button>
            <ng-template ngbNavContent>
                <app-driver-form [(activeRightElement)]="activeRightElement"></app-driver-form>
            </ng-template>
        </li>
        <li ngbNavItem>
            <button ngbNavLink (click)="isFineTypeEdit=false">
                <img src="/assets/auto.png" alt="" />
                <span>Автомобиль</span>
            </button>
            <ng-template ngbNavContent>
                <app-vehicle-form [(activeRightElement)]="activeRightElement"></app-vehicle-form>
            </ng-template>
        </li>
        <li ngbNavItem>
            <button ngbNavLink (click)="isFineTypeEdit=false">
                <img src="/assets/police.png" alt="" />
                <span>Степень коррумпированности</span>
            </button>
            <ng-template ngbNavContent>
                <app-corruption-form [(activeRightElement)]="activeRightElement"></app-corruption-form>
            </ng-template>
        </li>
        <li ngbNavItem>
            <button ngbNavLink (click)="isFineTypeEdit=false">
                <img src="/assets/benzine.png" alt="" />
                <span>Топливо</span>
            </button>
            <ng-template ngbNavContent>
                <app-fuel-form [(activeRightElement)]="activeRightElement"></app-fuel-form>
            </ng-template>
        </li>
        <li ngbNavItem>
            <button ngbNavLink (click)="isFineTypeEdit=false">
                <img src="/assets/street.png" alt="" />
                <span>Улица</span>
            </button>
            <ng-template ngbNavContent>
                <app-street-form [(activeRightElement)]="activeRightElement"></app-street-form>
            </ng-template>
        </li>
        <li ngbNavItem>
            <button ngbNavLink (click)="isFineTypeEdit=false">
                <img src="/assets/road-surface.png" alt="" />
                <span>Дорожное покрытие</span>
            </button>
            <ng-template ngbNavContent>
                <app-cover-form [(activeRightElement)]="activeRightElement"></app-cover-form>
            </ng-template>
        </li>
        <li ngbNavItem>
            <button ngbNavLink (click)="isFineTypeEdit=false">
                <img src="/assets/traffic-light.png" alt="" />
                <span>Светофор</span>
            </button>
            <ng-template ngbNavContent>
                <app-traffic-lights-form [(activeRightElement)]="activeRightElement"> </app-traffic-lights-form>
            </ng-template>
        </li>
        <li ngbNavItem>
            <button ngbNavLink (click)="isFineTypeEdit=true">
                <img src="/assets/fine.png" alt="" />
                <span>Штраф</span>
            </button>
            <ng-template ngbNavContent>
                <app-fine-form [(activeRightElement)]="activeRightElement"></app-fine-form>
            </ng-template>
        </li>
    </ul>
    <div class="form-container" [ngbNavOutlet]="leftnav"></div>
    <ul ngbNav #rightnav="ngbNav" [(activeId)]="activeRightElement" class="nav-tabs right-panel" orientation="vertical">
        <li [ngbNavItem]="1" [class.active]="activeRightElement === 1" [hidden]="isFineTypeEdit">
            <button ngbNavLink autofocus>
                <span>Добавить</span>
            </button>
        </li>
        <li [ngbNavItem]="2" [class.active]="activeRightElement === 2">
            <button ngbNavLink>
                <span>Изменить</span>
            </button>
        </li>
    </ul>
</div>