<app-header>
    <a href="/login" class="btn bg-transparent button">Cоздать новую карту</a>
    <a href="/registration" class="btn bg-transparent button">Открыть карту</a>
    <a href="/registration" class="btn bg-transparent button">Сохранить</a>
    <a href="/registration" class="btn bg-transparent button">О системе</a>
    <a href="/admin-page/db" class="btn bg-transparent button"
        >О разработчиках</a
    >
</app-header>
<div class="editor-container">
    <div class="left-panel">
        <div class="left-panel-header">
            <h5 class="offcanvas-title">Добавление в базу данных</h5>
        </div>
        <div class="left-panel-body">
            <div>
                <img src="/assets/driver.png" alt=""/>
                <span>Водитель</span>
            </div>
            <div>
                <img src="/assets/auto.png" alt="" />
                <span>Автомобиль</span>
            </div>
            <div>
                <img src="/assets/police.png" alt="" />
                <span>Степень коррумпированности</span>
            </div>
            <div>
                <img src="/assets/benzine.png" alt="" />
                <span>Топливо</span>
            </div>
            <div>
                <img src="/assets/street.png" alt="" />
                <span>Улица</span>
            </div>
            <div>
                <img src="/assets/road-surface.png" alt="" />
                <span>Дорожное покрытие</span>
            </div>
            <div>
                <img src="/assets/traffic-light.png" alt="" />
                <span>Светофор</span>
            </div>
            <div>
                <img src="/assets/fine.png" alt="" />
                <span>Штраф</span>
            </div>
        </div>
    </div>
</div>