:host {
    display: flex;
    justify-content: space-between; /* Элементы разнесены по краям */
    align-items: center; /* Вертикальное выравнивание */
    width: 100%;
    height: 9vh;
    background: linear-gradient(
        to right,
        #9daaa7 0%,
        #516662 76%,
        #728380 100%
    );

    .main-icon {
        width: 32px;
        height: 32px;
        margin-left: 4.5%;
    }

    .buttons {
        margin-right: 4.5%;
    }
}
