div.col.mb-4 {
    margin-bottom: 10% !important;
}

.ng-dirty.ng-invalid:not(form) {
    border-color: #ff0000; /* red */
    &::placeholder {
        color: #ff0000;
    }
}

form {
    width: 20%;
}

.input-group-append .input-group-text {
    background-color: rgba(154, 154, 149, 0.5);
    height: 100%; /* Растягиваем по высоте инпута */
    display: flex;
    align-items: center; /* Центрируем иконку вертикально */
    justify-content: center; /* Центрируем иконку горизонтально (опционально) */
    padding: 0 10px; /* Дополнительное внутреннее отступление, чтобы иконка не прилипала */
}

.error-span {
    position: absolute;
    color: #ff0000;
    user-select: none;
}

button:hover {
    color: gray;
    border-color: gray;
}

input:focus {
    border-color: white;
    box-shadow: 2px 2px 2px 2px gray;
}

.submit-button {
    background: linear-gradient(to right, #9daaa7 0%, #516662 76%, #728380 100%);
    border-radius: 10px;
    border-color: white;
}

.form-inputs {
    border-top: 0px;
}

input::placeholder {
    font-weight: lighter;
}
