:host {
    display: flex;
    flex-direction: column;
}

.menu {
    color: white;
}

.menu:hover {
    color: gray;
}

.top {
    padding-top: 5px;
    padding-bottom: 5px;
}

.editor-container {
    flex: 1;
    height: 100%;
    display: flex;
    width: 100%;

    .left-panel {
        background-color: #efefef;
        flex-grow: 0;
        width: 22%;
    }

    .scroll-div {
        flex-grow: 2;
        width: 56%;
        height: 670px;
        overflow: auto;

        .graph-editor {
            margin-top: 4%;
            margin-left: 4%;
            margin-right: 4%;
            margin-bottom: 4%;
        }
    }
    
    .right-panel {
        background-color: #efefef;
        flex-grow: 0;
        width: 22%;
    }

    .text-center {
        text-align: center;
    }
}



