<app-header>
    <a class="btn bg-transparent button">Вернуться к построению карты</a>
    <a class="btn bg-transparent button">База данных</a>
    <a class="btn bg-transparent button">О разработчиках</a>
</app-header>
<div class="editor-container">
    <div class="left-panel">
        <ul>
            <li>
                <a>Автоматизированная система расчета оптимального маршрута движения автотранспорта по заданному критерию</a>
            </li>
            <li>
                <a>Введение</a>
                <ul>
                    <li>
                        <a>Регистрация</a>
                    </li>
                    <li>
                        <a>Авторизация</a>
                    </li>
                </ul>
            </li>
            <li>
                <a>Админ</a>
                <ul>
                    <li>
                        <a>Создать карту</a>
                    </li>
                    <li>
                        <a>Открыть карту</a>
                    </li>
                    <li>
                        <a>Сохранить карту</a>
                    </li>
                    <li>
                        <a>Удалить карту</a>
                    </li>
                    <li>
                        <a>Справочники</a>
                    </li>
                    <li>
                        <a>О системех</a>
                    </li>
                    <li>
                        <a>О разработчиках</a>
                    </li>
                </ul>
            </li>
            <li>
                <a>Пользователь</a>
                <ul>
                    <li>
                        <a>Загрузить карту</a>
                    </li>
                    <li>
                        <a>Справочная информация</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div  class="graph-editor">
        <div>
            <h3> Автоматизированная система расчета оптимального маршрута движения автотранспорта по заданному критерию</h3>
        </div>
        <div>
            <h4>Введение</h4>
            <p></p>
        </div>
            <div>
                <h6>Регистрация</h6>
                <p></p>
            </div>
            <div>
                <h6>Авторизация</h6>
                <p></p>
            </div>
        <div>
            <h4>Админ</h4>
            <p></p>
        </div>
            <div>
                <h6>Создать карту</h6>
                <p></p>
            </div>
            <div>
                <h6>Открыть карту</h6>
                <p></p>
            </div>
            <div>
                <h6>Сохранить карту</h6>
                <p></p>
            </div>
            <div>
                <h6>Удалить карту</h6>
                <p></p>
            </div>
            <div>
                <h6>Справочники</h6>
                <p></p>
            </div>
            <div>
                <h6>О системех</h6>
                <p></p>
            </div>
            <div>
                <h6>О разработчиках</h6>
                <p></p>
            </div>
        <div>
            <h4>Пользователь</h4>
            <p></p>
        </div>
            <div>
                <h6>Загрузить карту</h6>
                <p></p>
            </div>
            <div>
                <h6>Справочная информация</h6>
                <p></p>
            </div>
    </div>
    <div class="right-panel"></div>
</div>
