<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Информация о разработчиках</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>Лабораторный практикум по дисциплине: "Технологии программирования"</p>
        <p>Тема: "Автоматизированная система расчета оптимального маршрута движения автотранспорта по заданному критерию"</p>
    </div>
    <div class="modal-header top">
        <h5 class="modal-title" id="modal-basic-title">Разработчики:</h5>
    </div>
    <div class="modal-body">
        <div class="modal-header top">
            <p>Петренко Мария Вадимовна, группа: 6401-090301D</p>
        </div>
        <div class="modal-header top">
            <p>Уваров Глеб Алексеевич, группа: 6401-090301D</p>
        </div>
        <div class="modal-header top">
            <p>Халиев Жанат Тлекешевич, группа: 6401-090301D</p>
        </div>
        <div class="modal-header top">
            <p>Шатилов Никита Юрьевич, группа: 6401-090301D</p>
        </div>
    </div>
    <div class="modal-header top">
        <h5 class="modal-title" id="modal-basic-title">Руководитель:</h5>
    </div>
    <div class="modal-body">
        <div class="modal-header top">
            <p>Зеленко Лариса Сергеевна</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="c('Save click')">Закрыть</button>
    </div>
</ng-template>
<app-header>
    <a href="admin-page" class="btn bg-transparent button menu">Вернуться к построению карты</a>
    <a href="admin-page/db" class="btn bg-transparent button menu">База данных</a>
    <a class="btn bg-transparent button menu"  (click)="open(content)">О разработчиках</a>
</app-header>
<form class="editor-container">
    <div class="left-panel">
        <ul class="ul-main">
            <li>
                <a href="system-page#main">Автоматизированная система расчета оптимального маршрута движения автотранспорта по заданному критерию</a>
            </li>
            <li>
                <a href="system-page#intro">Введение</a>
                <ul>
                    <li>
                        <a href="system-page#authorization">Авторизация, запуск программы</a>
                    </li>
                    <li>
                        <a href="system-page#registration">Регистрация</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="system-page#admin">Админ</a>
                <ul>
                    <li>
                        <a href="system-page#create-map">Создать карту</a>
                    </li>
                    <li>
                        <a href="system-page#open-map">Открыть карту</a>
                    </li>
                    <li>
                        <a href="system-page#save-map">Сохранить карту</a>
                    </li>
                    <!--
                    <li>
                       
                        <a href="#delete-map">Удалить карту</a>
                    </li>
                     -->
                    <li>
                        <a href="system-page#data-base">База данных</a>
                    </li>
                    <li>
                        <a href="system-page#system">О системе</a>
                    </li>
                    <li>
                        <a href="system-page#developer">О разработчиках</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="system-page#user">Пользователь</a>
                <ul>
                    <li>
                        <a href="system-page#add-map">Загрузить карту</a>
                    </li>
                    <li>
                        <a href="system-page#reference">Справочная информация</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div  class="scroll-div">
        <div class="graph-editor">
            <div>
                <h3 id="main"> Автоматизированная система расчета оптимального маршрута движения автотранспорта по заданному критерию</h3>
            </div>
            <div>
                <h4 id="intro">Введение</h4>
                <p>Автоматизированная система расчета оптимального маршрута движения автотранспорта по заданному критерию будет использоваться 
                    для определения наилучшего маршрута для транспортных средств с учетом различных факторов.</p>
                <p>Программа использует базу данных MS SQL Server (требует предустановление сервера MS SQL). Программная система совместима с 
                    Windows 7 и выше. Системные требования: 3Gb оперативной памяти, 23Gb жесткого диска.
                </p>
            </div>
                <div>
                    <h5 id="authorization">Авторизация, запуск программы</h5>
                    <p>
                        Данная система состоит из двух частей: режим пользователя и режим админа. При запуске системы открывается главная страница.
                        После загрузки стартовой страницы необходимо войти или зарегистрироваться в систему, 
                        переход осуществляется соответствующими элементами меню.
                    </p>
                    <div class="text-center">
                        <img src="/assets/auto.png" alt="">
                    </div>
                    <p>
                        На странице войти, необходимо ввести логин и пароль для входа в систему. 
                        При нажатие на кнопку «Войти» программа проверяет введенные учетные записи и определить роль 
                        (администратор, пользователь).
                    </p>
                    <div class="text-center">
                        <img src="/assets/auto.png" alt="">
                    </div>
                </div>
                <div>
                    <h5 id="registration">Регистрация</h5>
                    <p>
                        При нажатие на «Зарегистрироваться» осуществляется переход на страницу регистрации.
                        Необходимо ввести уникальный логин и пароль для сохранения учетных данных в систему. 
                        Проверка уникальности и сохранения данных в систему будет осуществляться после нажатие кнопки «Зарегистрироваться». 
                    </p>
                    <div class="text-center">
                        <img src="/assets/auto.png" alt="">
                    </div>
                </div>

                <div>
                    <p>Функции администратора:</p>
                    <ul>
                        <li>
                            Авторизация пользователя в системе (ввод логина и пароля)
                        </li>
                        <li>
                            Просмотр справочной информации о системе
                        </li>
                        <li>
                            Создание структуры улично-дорожной сети:
                            <ul>
                                <li>
                                    Добавление/удаление перекрестка
                                </li>
                                <li>
                                    Добавление/удаление прогона
                                </li>
                                <li>
                                    Перемещение вершин
                                </li>
                                <li>
                                    Настройки параметров перекрестка:
                                    <ul>
                                        <li>
                                            Установка светофора
                                        </li>
                                        <li>
                                            Настройка длительности светофорных фаз
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Настройки параметров прогонов:
                                    <ul>
                                        <li>
                                            Выбор названия улицы
                                        </li>
                                        <li>
                                            Выбор направления движения
                                        </li>
                                        <li>
                                            Установка длины участка
                                        </li>
                                        <li>
                                            Расстановка знаков дорожного движения, устанавливающие ограничения скорости
                                        </li>
                                        <li>
                                            Выбор типа покрытия
                                        </li>
                                        <li>
                                            Установка полицеского
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            Работа с базой данных:
                            <ul>
                                <li>
                                    Добавление сущностей
                                </li>
                                <li>
                                    Редактирования сущностей
                                </li>
                                <li>
                                    Удаление сущностей
                                </li>
                            </ul>
                        </li>
                        <li>
                            Ведение справочников:
                            <ul>
                                <li>
                                    Улиц
                                </li>
                                <li>
                                    Типов покрытия
                                </li>
                                <li>
                                    Степени коррумпированности полицеского
                                </li>
                                <li>
                                    Типов штрафов
                                </li>
                                <li>
                                    Видов топлива
                                </li>
                            </ul>
                        </li>
                        <li>
                            Работа с водителями:
                            <ul>
                                <li>
                                    Ввод ФИО
                                </li>
                                <li>
                                    Выбор типа водителя
                                </li>
                                <li>
                                    Удаление транспортного средства
                                </li>
                            </ul>
                        </li>
                        <li>
                            Работа с транспортным средством:
                            <ul>
                                <li>
                                    Ввод марки
                                </li>
                                <li>
                                    Выбор вида топлива
                                </li>
                                <li>
                                    Ввод расхода топлива (л/100км)
                                </li>
                                <li>
                                    Ввод максимально развиваемой скорости
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <p>Функции пользователя:</p>
                    <ul>
                        <li>Регистрация пользователя в системе (ввод логина, пароля)</li>
                        <li>Просмотр справочной информации о системе</li>
                        <li>Авторизация пользователя в системе (ввод логина и пароля)</li>
                        <li>Выбор структуры улично-дорожной сети</li>
                        <li>Выбор критерия поиска</li>
                        <li>Выбор точки отправления</li>
                        <li>Выбор точки прибытия</li>
                        <li>Выбор водителя</li>
                        <li>Запуск моделирования</li>
                    </ul>
                </div>
                
            <div>
                <h4 id="admin">Админ</h4>
                <p>
                    На данной странице осуществляется добавление на экран элементы УДС (перекресток, прогон).
                </p>
                <p>
                    Перекресток устанавливается путем выбора его на левой панели и кликом левой кнопки мыши на сетку.
                </p>
                <p>
                    Прогон устанавливается путем выбора его на левой панели и выбора двух перекрестков между которыми будет проведен прогон.
                </p>
                <p>
                    Удаление и добавление параметров происходит через выбор нужного пункта в контекстном меню, 
                    которое появляется при нажатии правой кнопки мыши на элемент УДС. 
                    Просмотр параметров элемента УДС возможен после нажатия двойным кликом левой кнопки мыши на этот элемент.
                </p>
                <p>
                    Перемещение перекрестка осуществляется выбором соответствующего пункта контекстного меню и после нажатием на сетку
                    левой кнопкой мыши.
                </p>
            </div>
                <div>
                    <h5 id="create-map">Создать карту</h5>
                    <p>
                        При нажатии на пункт меню «Создать новую карту» будет происходить очистка сетки и переход 
                        к начальному состоянию или будет появляться модальное окно с предупреждением о том, что карта не сохранена.
                    </p>
                </div>
                <div>
                    <h5 id="open-map">Открыть карту</h5>
                    <p>
                        При нажатии на пункт меню «Открыть карту» будет появляться модальное окно, 
                        в котором можно выбрать нужную УДС для загрузки или 
                        будет появляться модальное окно с предупреждением о том, что карта не сохранена.
                    </p>
                </div>
                <div>
                    <h5 id="save-map">Сохранить карту</h5>
                    <p>
                        При выборе пункта меню «Сохранить» будет появляться модальное окно, 
                        в котором нужно будет ввести уникальное название УДС для её дальнейшего сохранения в базе данных.
                    </p>
                </div>
                <!--
                <div>
                    <h5>Удалить карту</h5>
                    <p></p>
                </div>
                -->
                <div>
                    <h5 id="data-base">БД</h5>
                    <p>
                        При выборе пункта меню «БД» будет происходить переход на новую страницу для добавления информации в базу данных.
                    </p>
                    <p>
                        При выборе одного из пунктов на левой панели. После будут загружаться необходимые поля для внесения данных.
                        Для редактирования или добавления данных необходимо выбрать на правой панели соответствующий  пункт.
                        В режиме добавления при нажатии на кнопку «Добавить» система проверяет данные и сохраняет их в БД.
                        В режиме изменения осуществляется удаление и редактирования данных.
                        Для этого необходимо нажать кнопку (стрелочку) справа от таблицы и выбрать соответствующий  пункт.
                        Изменение данных осуществляется в таблице. Для фиксации изменения необходимо нажать на кнопку "Сохранить".
                        При удаление, если элемент связан с другими элемента выводится модальное окно с подтверждением удалением всех элементов.
                        При выборе пункта меню «Вернуться к построению карты» происходит загрузка главной страницы 
                        пользователя в режиме администратора.
                    </p>
                </div>
                <div>
                    <h5 id="system">О системе</h5>
                    <p>
                        При выборе пункта меню «О системе» будет открываться новая страница с информацией об использовании системы.
                    </p>
                </div>
                <div>
                    <h5 id="developer">О разработчиках</h5>
                    <p>
                        При выборе пункта меню «О разработчиках» будет появляться всплывающее окно с информацией о разработчиках системы.
                    </p>
                </div>
            <div>
                <h4 id="user">Пользователь</h4>
                <p>
                    Для создания оптимального маршрута необходимо выбрать точку отправления, точку прибытия, водителя, 
                    а также критерий определения оптимального маршрута. Для этого выбирается соответствующий пункт на панели слева.
                </p>
                <p>
                    При нажатие на пункт «Выбор точки отправления и прибытия», правой кнопкой мыши на карте выбираются два перекрестка,
                    первый является пунктом отправления, а второй пунктом прибытия. При нажатии больше двух раз выбор чередуется.
                </p>
                <p>
                    При нажатие на пункт «Выбор автомобиля» появляется поле с выпадающим списком о водителях,
                    при выборе которого полная информация о данном водителе будет отражена на правой панели страницы.
                </p>
                <p>
                    В разделе «Выбор критерия» будут представлены различные критерии для построения маршрута,
                    в котором осуществляется выбор одного из них.
                </p>
                <p>
                    При нажатие на кнопку «Построить» осуществляется визуализацию пути на карте.
                </p>
            </div>
                <div>
                    <h5 id="add-map">Загрузить карту</h5>
                    <p>
                        При нажатии на пункт меню «Загрузить карту» появляется модельное окно,
                        в котором можно выбрать нужную карту для загрузки.
                        Открытие выбранной карты осуществляется выбором соответствующего пункта в окне.
                    </p>
                </div>
                <div>
                    <h5 id="reference">Справочная информация</h5>
                    <p>
                        При выборе пункта меню «Справочная информация» откроется новая страница с информацией об использовании системы.
                    </p>
                </div>
        </div>
     </div>  
    <div class="right-panel"></div>
</form>
